<div class="about-user">
    <div class="about-user__email-block">
        <span class="about-user__email-name"><span class="_first-letter">b</span>obrow.bobro2015@yandex.ru</span>
        <img src="./img/avatar.png" class="about-user__email-avatar" alt="avatar">
    </div>
    <div class="about-user__counter-block">
        <span class="about-user__counter-name">Почта</span>
        <span class="about-user__counter-count">13037</span>
    </div>
    <div class="about-user__disk">Диск</div>
</div>
