<nav class="yandex-services-navigation">
    <ul class="yandex-services-navigation__items-list">
        <li class="yandex-services-navigation__item _first">
            <svg>
                <use xlink:href="#services"></use>
            </svg>
            <div>Маркет</div>
        </li>
        <li class="yandex-services-navigation__item">
            <svg>
                <use xlink:href="#video"></use>
            </svg>
            <div>Видео</div>
        </li>
        <li class="yandex-services-navigation__item">
            <svg>
                <use xlink:href="#images"></use>
            </svg>
            <div>Картинки</div>
        </li>
        <li class="yandex-services-navigation__item">
            <svg>
                <use xlink:href="#news"></use>
            </svg>
            <div>Новости</div>
        </li>
        <li class="yandex-services-navigation__item">
            <svg>
                <use xlink:href="#autoru"></use>
            </svg>
            <div>Карты</div>
        </li>
        <li class="yandex-services-navigation__item">
            <svg>
                <use xlink:href="#translate"></use>
            </svg>
            <div>Переводчик</div>
        </li>
        <li class="yandex-services-navigation__item">
            <svg>
                <use xlink:href="#music"></use>
            </svg>
            <div>Музыка</div>
        </li>
        <li class="yandex-services-navigation__item">
            <svg>
                <use xlink:href="#tv"></use>
            </svg>
            <div>Программа</div>
        </li>
        <li class="yandex-services-navigation__item">
            <svg>
                <use xlink:href="#autoru"></use>
            </svg>
            <div>Авто.ру</div>
        </li>
        <li class="yandex-services-navigation__item _last">
            <div class="yandex-services-navigation__container">
                <svg viewBox="0 0 44 44">
                    <use xlink:href="#mail"></use>
                </svg>
                <svg viewBox="0 0 44 44">
                    <use xlink:href="#tv"></use>
                </svg>
                <svg viewBox="0 0 44 44">
                    <use xlink:href="#services"></use>
                </svg>
                <svg viewBox="0 0 44 44">
                    <use xlink:href="#realty"></use>
                </svg>
            </div>
            <div>ещё</div>
        </li>
    </ul>
</nav>
