<nav class="yandex-services-navigation">
    <ul class="yandex-services-navigation__items-list">
        <li class="yandex-services-navigation__item" *ngFor="let item of navigationItems" [ngClass]="{'_first': item === navigationItems[0]}">
            <img [src]="item.imageSrc">
            <div>{{item.name}}</div>
        </li>
        <li class="yandex-services-navigation__item _last">
            <div class="yandex-services-navigation__container">
                <img src="../../assets/icons/mail.svg">
                <img src="../../assets/icons/tv.svg">
                <img src="../../assets/icons/services.svg">
                <img src="../../assets/icons/realty.svg">
            </div>
            <div>ещё</div>
        </li>
    </ul>
</nav>
