<div class="video-buttons">
    <div class="video-buttons__like">
        <img src="../../assets/images/like.png" class="video-buttons__like-icon" alt="like">
        <span class="video-buttons__like-count">315</span>
    </div>
    <div class="video-buttons__dislike">
        <img src="../../assets/images/dislike.png" class="video-buttons__dislike-icon" alt="dislike">
    </div>
    <div class="video-buttons__comment">
        <img src="../../assets/images/comment.png" class="video-buttons__comment-icon" alt="comment">
        <span class="video-buttons__comment-count">3</span>
    </div>
</div>
