<div class="weather">
    <div class="weather__titles">
        <span class="weather__titles-item _first">Погода</span>
        <span class="weather__titles-item">Карта осадков</span>
    </div>
    <div class="weather__wrapper">
        <svg class="weather__icon" width="48" height="48" viewBox="0 0 36 36">
            <use xlink:href="#weather"></use>
        </svg>
        <div class="weather__temperature">−11°</div>
        <div class="weather__details">утром −12° <br> днём -7°</div>
    </div>
</div>
