<div class="news">
    <app-news-titles></app-news-titles>
    <div class="news__item">
        <img src="./img/news-1.webp" alt="logo">
        <span>Госдума приняла в 1 чтении законопроект о введении QR-кодов в общественных местах</span>
    </div>
    <div class="news__item">
        <img src="./img/news-2.webp" alt="logo">
        <span>Bloomberg: новые санкции ЕС и США против России могут повлиять на оборонные компании</span>
    </div>
    <div class="news__item">
        <img src="./img/news-3.webp" alt="logo">
        <span>Сокуров извинился перед членами СПЧ за свой спор с Путиным</span>
    </div>
    <div class="news__item">
        <img src="./img/news-1.webp" alt="logo">
        <span>НАТО заявило о готовности к диалогу с Россией при условии деэскалации с Украиной</span>
    </div>
    <div class="news__item">
        <img src="./img/news-2.webp" alt="logo">
        <span>РВСН планирует выпустить около 10 континентальных ракет</span>
    </div>
</div>
