<div class="traffic-jams">
    <div class="traffic-jams__titles">
        <span class="traffic-jams__titles-item _first">Пробки</span>
        <span class="traffic-jams__titles-item">Метро</span>
        <span class="traffic-jams__titles-item">Расписания</span>
    </div>
    <div class="traffic-jams__wrapper">
        <img src="../../assets/icons/traffic.svg" class="traffic-jams__icon">
        <div class="traffic-jams__mark">1</div>
        <div class="traffic-jams__desc">До 7 ч. дороги <br> свободны</div>
    </div>
</div>
