@import "../variables";

.account {
    position: fixed;
    top: 0.9rem;
    right: 3rem;
    z-index: 10;

    svg {
        margin-left: 0.5rem;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .3));
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:hover {
            opacity: .66;
        }
    }


}