@import "../variables";

.css-code-example {
    text-decoration: none;
    .code-font;
    display: block;
    padding: 3rem 0;
    color: @color-css-yellow;
    cursor: pointer;

    &:hover {
        opacity: .66;
    }

    &__yellow-elem {
        color: @color-css-yellow;
    }

    &__blue-elem {
        color: @color-css-blue;
    }
}