@import "../variables";

.header {
    position: relative;
    display: flex;
    padding: 0 3rem;
    margin-bottom: 3rem;
    background: @color-block-background;
    border-bottom: 1px solid @color-header-border;

    &__wrapper {
        flex: 1;
        width: 100%;
    }
}