@import "../variables";

.main {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 1;

    &__wrapper {
        display: grid;
        grid-template-columns: minmax(0, 1fr) 300px;
        gap: 3rem;
        margin: 0 auto;
    }
}