.main {
    display: flex;
    justify-content: space-between;
    width: 918px;
    margin: 0 auto;

    &__blog-wrapper {
        width: calc(100% - 278px);
    }

    &__aside-wrapper {
        width: 270px;
    }
}