.news {
    overflow: hidden;
    padding: 0 12px;
    background: #fff;
    border-radius: 16px;
    position: relative;

    &__item {

        padding-left: 9px;
        padding-bottom: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        transition: color .15s ease-out;

        &:hover {
            color: #c00;
        }

        img {
            width: 14px;
            height: 14px;
            vertical-align: top;
        }

        span {
            display: inline-block;
            margin-left: 5px;
            width: 95%;
        }
    }
}