.weather {
    overflow: hidden;
    padding-bottom: 23px;

    &__titles {
        padding-top: 7px;
    }

    &__titles-item {
        opacity: .5;
        transition: opacity .15s ease-out;
        font-size: 16px;
        font-weight: 500;
        transition: color .15s ease-out, opacity .15s ease-out;
        cursor: pointer;

        &:hover {
            color: #c00;
            opacity: 1;
        }
    }

    ._first {
        margin-right: 8px;
        padding-top: 1px;
        margin-top: 4px;
        margin-bottom: 8px;
        color: #000;
        opacity: 1;

        &:hover {
            color: #c00;
        }
    }

    &__wrapper {
        display: flex;
    }

    &__icon {
        padding-top: 9px;
        margin-left: -4px;
        cursor: pointer;
    }

    &__temperature {
        font-size: 36px;
        padding-top: 11px;
        padding-left: 6px;
        letter-spacing: -2px;
        cursor: pointer;
        transition: color .15s ease-out;

        &:hover {
            color: #c00;
        }
    }

    &__details {
        padding-left: 17px;
        padding-top: 17px;
        font-size: 14px;
        cursor: pointer;
        transition: color .15s ease-out;

        &:hover {
            color: #c00;
        }
    }
}