<div class="blog">
    <div class="blog__header">
        <div class="blog__header-wrapper">
            <div class="blog__icon"></div>
            <div class="blog__author-block">
                <div class="blog__author-chanel">
                    <span class="blog__author-name">Кулинарный MIX • </span>
                    <span class="blog__subscribe">Подписаться</span>
                </div>
                <div class="blog__author-subscribers">22 тыс. подписчиков</div>
            </div>
        </div>
        <div class="blog__header-wrapper">
            <img class="blog__menu" src="../../assets/icons/control-menu.svg">
        </div>
    </div>
    <iframe class="blog__video" src="https://www.youtube.com/embed/RYQUbRtbE3A?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="blog__about">
        <div class="blog__desc">
            Ну до чего же вкусный салат с шампиньонами и маринованными огурчиками,
            обязательно буду готовить его на Новогодний стол
        </div>
        <div class="blog__about-video">3 дня назад • 38 516 просмотров</div>
        <div class="blog__footer">
            <app-video-buttons></app-video-buttons>
            <app-share-button></app-share-button>
        </div>
    </div>
</div>
