body {
    margin: 0;
    min-width: 1000px;
    font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
    color: #000;
    background: linear-gradient(180deg,rgba(243,243,242,0) 0%,#f3f3f2 100%);
}

svg {
    max-width: 50px;
    max-height: 50px;
}

@import "./blocks/desk-notif";
@import "./blocks/about-user";
@import "./blocks/new-year";
@import "./blocks/header";
@import "./blocks/date";
@import "./blocks/default";
@import "./blocks/icons";
@import "./blocks/geolocation";