/* colors */

@color-background-content-active: #EBECEF;
@color-text-primary: #2C2D2E;
@color-text-secondary: #87898F;
@color-text-accent: #005FF9;
@color-text-accent-hover: #005CF1;
@color-text-accent-active: #0059EA;
@color-icon-primary: #2C2D2E;
@color-icon-secondary: #A5A7AD;
@color-separator-primary: rgba(0, 16, 61, 0.12);
@color-counter-accent-background: #005FF9;
@color-text-link: #005BD1;
@color-background-modal: #FFFFFF;
@color-background-modal-hover: #F5F5F7;
@color-background-modal-active: #EBECEF;
@custom-shadow-projects-menu: 0px 16px 48px rgba(18, 25, 43, 0.28);
@color-main-block: #FFFFFF;
@custom-color-main-block-hover: #F5F5F7;
@custom-color-main-block-active: #EBECEF;
@custom-color-account-add: rgba(0, 16, 61, 0.06);
@custom-color-tooltip-bg: #FFFFFF;
@custom-color-tooltip-text: #2C2D2E;
@custom-color-tooltip-shadow: rgba(0, 16, 61, 0.32);
@custom-color-promo-marusia-shadow: rgba(0, 11, 41, 0.2);
@custom-color-sidebar-shadow: rgba(0, 11, 41, 0.2);
@custom-color-project-dark-bg-hover: rgba(0, 16, 61, 0.04);
@custom-color-project-dark-bg-active: rgba(0, 16, 61, 0.08);
@color-link-secondary: #919399;
@color-seperate-line: #f0f1f3;
@color-desc: #999999;
@color-button-border: #0054db;
@color-vk-partner: #07f;
@color-horoscope-bg: #0dc268;
@color-main-titles: #333;
@color-users-icons: #bfc1c7;
@color-little-block-bg: hsla(0, 0%, 100%, .95);
@color-search-theme: #ff9e00;

/* fonts */

.main-font {
    font-family: Helvetica, Arial, sans-serif;
}

.news-feed-font {
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
}