<div class="quotes">
    <div class="quotes__title">Котировки</div>
    <div class="quotes__wrapper">
        <div class="quotes__item">
            <div class="quotes__main-info">
                <div class="quotes__name">USD ЦБ</div>
                <div class="quotes__date">25 декабря</div>
            </div>
            <img src="../../assets/images/graf-1.png" class="quotes__graf" alt="graf">
            <div class="quotes__price">
                <div class="quotes__present-price">73,19 ₽</div>
            </div>
        </div>
        <div class="quotes__item">
            <div class="quotes__main-info">
                <div class="quotes__name">EUR ЦБ</div>
                <div class="quotes__date">25 декабря</div>
            </div>
            <img src="../../assets/images/graf-2.png" class="quotes__graf" alt="graf">
            <div class="quotes__price">
                <div class="quotes__present-price">82,93 ₽</div>
            </div>
        </div>
        <div class="quotes__item">
            <div class="quotes__main-info">
                <div class="quotes__name">USD MOEX</div>
                <div class="quotes__date">24 декабря</div>
            </div>
            <img src="../../assets/images/graf-3.png" class="quotes__graf" alt="graf">
            <div class="quotes__price">
                <div class="quotes__present-price">73,65 ₽</div>
                <div class="quotes__difference-price">+0,33</div>
            </div>
        </div>
        <div class="quotes__item">
            <div class="quotes__main-info">
                <div class="quotes__name">EUR MOEX</div>
                <div class="quotes__date">24 декабря</div>
            </div>
            <img src="../../assets/images/graf-4.png" class="quotes__graf" alt="graf">
            <div class="quotes__price">
                <div class="quotes__present-price">83,27 ₽</div>
                <div class="quotes__difference-price">+0,17</div>
            </div>
        </div>
        <div class="quotes__item">
            <div class="quotes__main-info">
                <div class="quotes__name">Нефть</div>
                <div class="quotes__date">24 декабря</div>
            </div>
            <img src="../../assets/images/graf-5.png" class="quotes__graf" alt="graf">
            <div class="quotes__price">
                <div class="quotes__present-price">75,75 $</div>
                <div class="quotes__difference-price">-1.55%</div>
            </div>
        </div>
    </div>
</div>
