<div class="quotes">
    <div class="quotes__title">Котировки</div>
    <div class="quotes__wrapper">
        <div class="quotes__item" *ngFor="let item of quotesItems">
            <div class="quotes__main-info">
                <div class="quotes__name">{{item.name}}</div>
                <div class="quotes__date">{{item.date}}</div>
            </div>
            <img [src]="item.imgSrc" class="quotes__graf" alt="graf">
            <div class="quotes__price">
                <div class="quotes__present-price">{{item.price}}</div>
                <div class="quotes__difference-price" *ngIf="item.differentPrice !== ''">{{item.differentPrice}}</div>
            </div>
        </div>
    </div>
</div>
